transformers==4.20.0
https://github.com/kpu/kenlm/archive/master.zip
pyctcdecode==0.4.0
datasets==2.6.1
huggingface_hub==0.10.0
torch
sentencepiece==0.1.99
sacrebleu
jiwer
regtag
validators
librosa
soundfile
protobuf==3.20.*
gdown
seqeval==0.0.12
pytorch-crf==0.7.2
tensorflow==2.8.0
sentencepiece
tensorboard
numpy
tqdm
py_vncorenlp
jsonlines
sentence-transformers
pyvi
matplotlib
pandarallel==1.6.1
pandas==1.4.2
scikit_learn==1.0.2
toml==0.10.2
audiomentations
